<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIUnitTestingPresentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UIUnitTestingPresentationSnapshotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UIUnitTestingPresentationUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C13BFB8425A8614300D13912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C13BFB9A25A8614400D13912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C13BFBA525A8614400D13912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C17989BE25AC43640076979A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
